# Exclude virtual environment folder
backend/.venv/

# Exclude images folder
backend/images/

# Exclude environment variables file
backend/.env
backend/credentials.env
backend/password.txt


# Exclude UI project folders
ui/.env

.vscode
