/* Index page styles */
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-block-end: 50px;
}

.text {
    font-size: clamp(25px, 5vw, 36px);
    color: #000;
    width: 80%;
    margin: 0 auto;
}

.tag {
    display: flex;
    justify-content: center;

}

.tag-text {
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: rgb(249, 85, 64);
    font-weight: 700;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-block-end: 50px;
}

.upload {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    font-weight: 600;
    color: rgb(115, 115, 115);
    cursor: pointer;
    border: 2px solid rgb(115, 115, 115);
    margin-block-end: 40px;
}

.upload:hover {
    border: 2px solid rgb(24, 92, 77);
}

.upload:hover .add-image {
    border: 2px solid rgb(24, 92, 77);
}

.add-image {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 40px;
    border: 2px solid rgb(115, 115, 115);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(115, 115, 115);
}

.display-result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.compressed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 290px;
    border: 2px solid rgb(115, 115, 115);
    border-radius: 10px;
    padding: 10px;
}

.compressed-image {
    border-radius: 5px;
    padding: 3px;
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.image-name button {
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(249, 85, 64);
    color: #fff;
    border: none;
    outline: auto;
    padding: 3px 5px;
}

.image-name button:hover {
    background-color: rgba(249, 85, 64, 0.86);
}

.saved-percentage {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
}

.download {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(24, 92, 77);
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
}

.download:hover {
    background-color: rgba(24, 92, 77, 0.86);
}

.compressed-qrcode {
    background: rgb(249, 85, 64);
    border-radius: 5px;
    width: 270px;
    height: 270px;
}