/* Main content */

.content {
    padding: 0 10px;
    min-height: 60vh;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}