
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    z-index: 11;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 20px;
  }

  .icon-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .url {
    margin-block-end: 30px;
  }

  .image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .img-style {
    width: 280px;
    height: 280px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }

  .modal-open {
    overflow: hidden;
  }

  